In [4]:
import pandas as pd

fun = {"name":["michael","don","x"]}
df = pd.DataFrame(fun)
df

      name
0  michael
1      don
2        x

In [5]:
import pandas as pd

fun = {"name":["michael","don","x"], "age":["10","20","12"]}
df = pd.DataFrame(fun)
df

      name age
0  michael  10
1      don  20
2        x  12

In [6]:
import pandas as pd

fun = {"name":["michael","don","x"], "age":["10","20","12"], "Address":["Delta","Kano","ogun"], "Qualification":["PHD","Msc.","Bsc"]}
df = pd.DataFrame(fun)
df

      name age Address Qualification
0  michael  10   Delta           PHD
1      don  20    Kano          Msc.
2        x  12    ogun           Bsc

In [11]:
import pandas as pd

fun = {"name":["michael","don","x"], "age":["10","20","12"], "Address":["Delta","Kano","ogun"], "Qualification":["PHD","Msc.","Bsc"]}
df = pd.DataFrame(fun)
df[["name","age"]]

      name age
0  michael  10
1      don  20
2        x  12

In [12]:
import pandas as pd

fun = {"name":["michael","don","x"], "age":["10","20","12"], "Address":["Delta","Kano","ogun"], "Qualification":["PHD","Msc.","Bsc"]}
df = pd.DataFrame(fun)
df.iloc[0]

name             michael
age                   10
Address            Delta
Qualification        PHD
Name: 0, dtype: object

In [13]:
import pandas as pd

fun = {"name":["michael","don","x"], "age":["10","20","12"], "Address":["Delta","Kano","ogun"], "Qualification":["PHD","Msc.","Bsc"]}
df = pd.DataFrame(fun)
df.iloc[2]

name                x
age                12
Address          ogun
Qualification     Bsc
Name: 2, dtype: object